@using Challenge4.Website.Models
@model AspNetUser
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    @if (Model.UserRole == 1)
    {
        <p>Welcome Team Manager</p>
    }
    else if (Model.UserRole == 2)
    {
        <p>Welcome Authorized Team Member</p>
    }
    else
    {
        <p>Welcome Unauthorized Person</p>
    }

    <h1>Basketball Game Tracker</h1>
    <div class="row">
        <div class="col-6">
            @if (Model.UserRole == 1)
            {
                <div class="form-group">
                    <input type="button" class="btn btn-primary" value="Create Game" onclick="location.href='@Url.Action("Create", "Games")'" />
                </div>
            }
            else
            {
                <div class="form-group">
                    <input type="button" class="btn btn-primary" disabled value="Create Game" onclick="location.href='@Url.Action("Create", "Games")'" />
                    <p style="color:red">You are unauthorized and as such cannot create a game</p>
                </div>
            }
        </div>
        <div class="col-6">
            @if (Model.UserRole == 1 || Model.UserRole == 2)
            {
                <div class="form-group">
                    <input type="button" class="btn btn-primary" value="View Future Games" onclick="location.href='@Url.Action("Index", "Games")'" />
                </div>
            }
            else
            {
                <div class="form-group">
                    <input type="button" class="btn btn-primary" disabled value="View Future Games" onclick="location.href='@Url.Action("Index", "Games")'" />
                    <p style="color:red">You are unauthorized and as such cannot view future games</p>
                </div>
            }

        </div>
    </div>

    <div class="row">
        <div class="col-6">
            @if (Model.UserRole == 1 || Model.UserRole == 2)
            {
                <div class="form-group">
                    <input type="button" class="btn btn-primary" value="View Team Members" onclick="location.href='@Url.Action("Index", "AspNetUsers")'" />
                </div>
            }
            else
            {
                <div class="form-group">
                    <input type="button" class="btn btn-primary" disabled value="View Team Members" onclick="location.href='@Url.Action("Index", "AspNetUsers")'" />
                    <p style="color:red">You are unauthorized and as such cannot view team members</p>
                </div>
            }
        </div>

        <div class="col-6">
            @if (Model.UserRole == 1 || Model.UserRole == 2)
            {
                <div class="form-group">
                    <input type="button" class="btn btn-primary" value="View Past Games" onclick="location.href='@Url.Action("PastGames", "Games")'" />
                </div>
            }
            else
            {
                <div class="form-group">
                    <input type="button" class="btn btn-primary" disabled value="View Past Games" onclick="location.href='@Url.Action("PastGames", "Games")'" />
                    <p style="color:red">You are unauthorized and as such cannot view past games</p>
                </div>
            }
        </div>
    </div>

</div>